body {
    padding-top: 50px;
    text-align: center;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

add-borderCss{
    border: 1em solid black;
}
.tools{
    width: 50px; 
    height: 50px;
}

img{
    width: 50px; 
    height: 50px;
}

table{
    text-align: center;

}
table,tr,th, td {
    text-align: center;
    border:1px solid black;
    margin: 0 auto;
}
th{
    background-color: grey;
}

#formTable{
    width: 50%;
}