<h1>Canvas Creator</h1><br>
<!-- form to save user input for create a canvas -->
<form name="firstViewForm">
    <table id="formTable" class="table">
        <tr>
            <th>Canvas size NxN (integer)</th>
            <td class="form-group">
                <input name="canvasSize" type="number" ng-model="canvasSize" value="2" required/>
                <!-- show if error -->
                <div  class="has-error">
                    <span ng-show="firstViewForm.canvasSize.$invalid && firstViewForm.canvasSize.$dirty" class="help-block">
                        Please, enter a valid integer greater or equal to 1.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Tile size (integer)</th>
            <td>
                <input type="number" name="tileSize" ng-model="tileSize" value="2" required/>
                <!-- show if error -->
                <div  class="has-error">
                    <span ng-show="firstViewForm.tileSize.$invalid && firstViewForm.tileSize.$dirty" class="help-block">
                        Please, enter a valid integer greater or equal to 1.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Tile Border size (integer)</th>
            <td>
                <input type="number" name="tileBorderSize" ng-model="tileBorderSize" value="2" required/>
                <!-- show if error -->
                <div  class="has-error">
                    <span ng-show="firstViewForm.tileBorderSize.$invalid && firstViewForm.tileBorderSize.$dirty" class="help-block">
                        Please, enter a valid integer greater or equal to 1.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Tile Border color (6 hexadecimal bytes) #ABCDEF</th>
            <td>
                <input type="text" name="tileBorderColor" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="red" ng-model="tileBorderColor" required/>
                <!-- show preview color from inserted code color -->
                <input class="tools" type="button" ng-click="" style="background-color: {{tileBorderColor}}"/>
                <!-- show if error -->
                <div  class="has-error">
                    <span ng-show="firstViewForm.tileBorderColor.$invalid && firstViewForm.tileBorderColor.$dirty" class="help-block">
                        Please, enter a valid color code.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Pointer background color (6 hexadecimal bytes) #ABCDEF</th>
            <td>
                <input type="text" name="pointerBackgroundColor" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#123123" ng-model="pointerBackgroundColor" required/>
                <!-- show preview color from inserted code color -->
                <input class="tools" type="button" ng-click="" style="background-color: {{pointerBackgroundColor}}"/>
                <!-- show if error -->
                <div  class="has-error">
                    <span ng-show="firstViewForm.pointerBackgroundColor.$invalid && firstViewForm.pointerBackgroundColor.$dirty" class="help-block">
                        Please, enter a valid color code.
                    </span>
                </div>
            </td>
        </tr>
    </table>
</form>
<!-- submit button is disabled if inputs are not correct -->
<input type="button" ng-click="CanvasCtr.createCanvas()" value="Create Canvas"
       ng-disabled="firstViewForm.canvasSize.$invalid || firstViewForm.tileSize.$invalid ||
                firstViewForm.tileBorderSize.$invalid || firstViewForm.tileBorderColor.$invalid ||
                firstViewForm.pointerBackgroundColor.$invalid"/>