<h1>Canvas Painter</h1><br>
<!-- ********** ToolBar ********** -->
<table class="table">
    <tr>
        <!-- table header -->
        <th>Brush background color</th>
        <th>Paint a cell</th>
        <th>Paint a group</th>
        <th>Paint a row</th>
        <th>Paint a colum</th>
        <th>Paint a row and a colum</th>
        <th>Clear a cell</th>
        <th>Clear canvas</th>
        <th>Pointer background color</th>
    </tr>
    <tr>
        <td>
            <!-- my color picker for background color -->
            <div class="panel-body">
                <!-- if click then show color menu "showMe"-->
                <input type="button" ng-click="showMenu()" style="background-color: {{brushColor}}; width: 50px; height: 50px;"/>
                <div ng-show="showMe">
                    <!-- if click a color then save it in bruchColor and hidden color menu -->
                    <h1>Choose a color:</h1>
                    <input class="tools" type="button" ng-click="brushColor = 'blue'; showMenu()" style="background-color: blue;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'red'; showMenu()" style="background-color: red;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'green'; showMenu()" style="background-color: green;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'yellow'; showMenu()" style="background-color: yellow;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'orange'; showMenu()" style="background-color: orange;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'Purple'; showMenu()" style="background-color: Purple;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'Teal'; showMenu()" style="background-color: Teal;"/>
                    <input class="tools" type="button" ng-click="brushColor = 'Lime'; showMenu()" style="background-color: Lime;"/><br>
                    <form name="secondViewForm"> 
                        <!-- your can input a color code for make your own color -->
                        Make your color: <input type="text" name="yourColor" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="red" ng-model="yourColor" required/>
                        <div  class="has-error">
                            <!-- if color is not correct show an error -->
                            <span ng-show="secondViewForm.yourColor.$invalid && secondViewForm.yourColor.$dirty" class="help-block">
                                Please, enter a valid color code.
                            </span>
                            <!-- if color is correct show an your color -->
                            <span ng-show="secondViewForm.yourColor.$valid">
                                Your color: <input class="tools" type="button" ng-click="brushColor = yourColor; showMenu()" style="background-color: {{yourColor}}"/>
                            </span>
                        </div>
                    </form>  
                </div>
            </div>
        </td>
        <!-- icon to active one tool and disactive the other tools -->
        <td>
            <img ng-show="brushTool === 'PaintCell'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'PaintCell'" ng-click="brushTool = 'PaintCell'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-show="brushTool === 'PaintGroup'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'PaintGroup'" ng-click="brushTool = 'PaintGroup'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-show="brushTool === 'PaintRow'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'PaintRow'" ng-click="brushTool = 'PaintRow'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-show="brushTool === 'PaintColum'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'PaintColum'" ng-click="brushTool = 'PaintColum'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-show="brushTool === 'PaintRowAndColum'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'PaintRowAndColum'" ng-click="brushTool = 'PaintRowAndColum'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-show="brushTool === 'ClearCell'"  src="img/active.jpg"/>
            <img ng-show="brushTool !== 'ClearCell'" ng-click="brushTool = 'ClearCell'" src="img/notActive.jpg"/>
        </td>
        <td>
            <img ng-click="CanvasCtr.ClearCanvas()" src="img/clear.png" />
        </td>
        <td>
            <!-- my color picker for pointer -->
            <div class="panel-body">
                <!-- if click then show color menu "showMe2"-->
                <input type="button" ng-click="showMenu2()" style="background-color: {{pointer.backgroundColor}}; width: 50px; height: 50px;"/>
                <div ng-show="showMe2">
                    <!-- if click a color then save it in pointer.backgrountColor and hidden color menu -->
                    <h1>Choose a color:</h1>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('blue'); showMenu2()" style="background-color: blue;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('red'); showMenu2()" style="background-color: red;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('green'); showMenu2()" style="background-color: green;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('yellow'); showMenu2()" style="background-color: yellow;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('orange'); showMenu2()" style="background-color: orange;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('Purple'); showMenu2()" style="background-color: Purple;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('Teal'); showMenu2()" style="background-color: Teal;"/>
                    <input class="tools" type="button" ng-click="pointer.setBackgroundColor('Lime'); showMenu2()" style="background-color: Lime;"/><br>
                    <form name="secondViewForm">     
                        <!-- your can input a color code for make your own color -->
                        Make your color: <input type="text" name="yourColor" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="red" ng-model="yourColor" required/>
                        <div  class="has-error">
                            <!-- if color is not correct show an error -->
                            <span ng-show="secondViewForm.yourColor.$invalid && secondViewForm.yourColor.$dirty" class="help-block">
                                Please, enter a valid color code.
                            </span>
                            <!-- if color is correct show an your color -->
                            <span ng-show="secondViewForm.yourColor.$valid">
                                Your color: <input class="tools" type="button" ng-click="pointer.setBackgroundColor(yourColor); showMenu2()" style="background-color: {{yourColor}}"/>
                            </span>
                        </div>
                    </form>  
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- user Info -->
<span>
    <strong>Info: </strong>
press key " t " to change tool | 
press key " space " to appliy tool |
press key Arrows for move pointer |
your can do all this to with the mouse<br>
</span>
<span ng-show="brushTool === 'PaintGroup'">
    <strong>Info for Paint a Group:</strong>
select with right mouse click or key " space " && 
press key " g " for paint selected group or left mouse click over canvas
</span>


<!-- ********** Canvas ********** -->
<br><br>
<table >
    <!-- ng-repeat take a row from the canvas object -->
    <tr ng-repeat="row in canvas.tiles">
        <!-- ng-repeat take a tile from a row -->
        <!-- ng-click call a function to manage the click functions -->
        <!-- ng-right-click call a function to manage right click functions -->
        <!-- style give the canvas style with data from object -->
        <!-- ng-mouseover and ng-mouseleave works when move mouse over/leave canvas -->
        <td ng-repeat="tile in row" 
            ng-click="CanvasCtr.clickTile($parent.$index, $index)" 
            ng-right-click="CanvasCtr.rightClick($parent.$index, $index)"
            style="width: {{canvas.getTileSize()}}px; height: {{canvas.getTileSize()}}px; border: {{canvas.getTileBorderSize()}}px solid {{tile.getBorderColor()}}; background-color: {{tile.getBackgroundColor()}}"
            ng-mouseover="CanvasCtr.hover($parent.$index, $index)" ng-mouseleave="CanvasCtr.notHover($parent.$index, $index)">
            {{$parent.$index}}{{$index}} </td>
    </tr>
</table>
<br>
